@import "../../breakpoints";

.base() {
  position: relative;
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.topBar {
  .base;
  z-index: 2;
  background: white;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
}

.body {
  .base;
  z-index: 0;
  padding-top: 3rem;
  flex: 1;
  overflow: scroll;
}

.dialog {
  .base;
  z-index: 1;
  top: 3rem;
  background: #eaeaea;
}

.dialogInternal {
  padding: 10px;
}

.mobileMenu {
  .base;
  z-index: 1;
  top: 3rem;
  height: 0;
  overflow: hidden;
  background: white;
  text-align: center;
  transition: height 0.25s ease-in;
  &.mobileMenuVisible {
    height: 4rem;
    border-bottom: 1px solid #eaeaea;
    transition: height 0.25s ease-out;
  }
}
