.title {
  font-size: 2em;
  margin: 0.5em;
}

.subtitle {
  font-size: 1.2em;
  margin: 0.5em;
  padding-left: 0.5em;
}

.buttonsWrapper {
  margin: 1em;
}

.button {
  margin-right: 1em;
}

.commentsWrapper {

}

.postPreview {
  text-align: center;
  height: 400px;
  overflow: scroll;
}

.submitWrapper {
  margin: 1.5em 0.5em;
}
