@import "../../breakpoints";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.buttonsContainer {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  .mobile({
    height: 2rem;
  })
}

.scrollContainer {
  display: inline-block;
  height: 200%;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.button {
  display: inline-block;
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  margin: 0 5px;
}

.title {
  font-weight: bold;
  margin: 0 5px;
}

.hamburger {
  margin: 0 5px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
